# Binaries & Build Outputs
host/server_go/server_go_bin
host/server_rust/target/

# Test outputs
host/test_out_*
test_out_*

# Byte-compiled / Python cache
**/__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store

# .NET Build Outputs
host/server_dotnet/bin/
host/server_dotnet/obj/
