# Binaries & Build Outputs
server/server_go/server_go_bin
server/server_rust/target/

# Test outputs
host/test_out_*
test_out_*

# Byte-compiled / Python cache
**/__pycache__/
*.py[cod]
*$py.class

# OS files
.DS_Store

# .NET Build Outputs
server/server_dotnet/bin/
server/server_dotnet/obj/

# Server run logs
server/server_go/*.log
server/server_rust/*.log
server/server_dotnet/*.log
